* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgb(38, 33, 107);
  color: aliceblue;
}

.navbar {
  background-color: rgb(49, 41, 117);
  background-attachment: fixed;
  position: sticky;
  top: 0%;
  z-index: +1;
  width: 200px;
  height: 180%;
}

.logo {
  height: 200px;
  width: 200px;
}

ul {
  list-style-type: none;
  width: 12%;
  position: fixed;
  line-height: 50px;
  width: 200px;
  text-align: center;
}

li a {
  display: block;
  color: aliceblue;
  padding: 8px 8px;
  text-decoration: none;
  font-size: large;
}

li a:hover {
  background-color: lightcyan;
  color: black;
}

.vl {
  border-left: 2px solid skyblue;
  height: 100%;
  margin-left: 202px;
}

.nav {
  background-color: rgb(49, 41, 117);
  display: flex;
  margin-left: 13.5%;
  margin-top: -86.3%;
  position: sticky;
  top: 0%;
  z-index: +1;
}

.home {
  height: 60px;
  width: 60px;
  margin-left: 90%;
  margin-top: 10%;
  margin-left: 600%;
}

.sbox {
  height: 30px;
  width: 400px;
  border-radius: 25px;
  margin-top: 18px;
  margin-left: 10%;

}

.search {
  height: 50px;
  width: 40px;
  margin-left: 270%;
  margin-top: 25%;
}

.home1 {
  height: 70px;
  width: 60px;
  margin-top: 0%;
  margin-left: 750%;
}

.profile {
  height: 50px;
  width: 50px;
  margin-left: 650%;
  margin-top: 20%;
}

h1 {
  margin-left: 45%;
}

h3 {
  color: darkblue;
  text-align: center;
}

h4 {
  color: bisque;
  text-align: center;
}

h6 {
  color: whitesmoke;
  text-align: end;
}

.music1 {
  display: flex;
  margin-left: 12%;
  padding: 50px;
}

.line1,
.line2,
.line3,
.line4,
.line5,
.line6 {
  padding: 20px;
  border-radius: 10px 40px;
  margin-right: 15px;
  background-color: rgb(114, 130, 160);
  position: relative;
}

.sankranthiki,
.ak,
.nemek,
.dragon,
.jeyaraj,
.readydhan {
  height: 180px;
  width: 160px;
}

.right {
  float: left;
  margin-right: 6%;
  margin-top: 25px;
  display: flex;
  align-items: center;
}

#icon1,
#icon2,
#icon3,
#icon4,
#icon5,
#icon6 {
  width: 40px;
  cursor: pointer;
  background-color: rgb(12, 239, 141);
  border-radius: 35px;
  position: absolute;
  bottom: 140px;
  right: 30px;
}

.music2 {
  display: flex;
  padding: 20px;
  margin-left: 12%;
  padding: 50px;
}

.line7,
.line8,
.line9,
.line10,
.line11,
.line12 {
  padding: 20px;
  border-radius: 10px 40px;
  margin-right: 15px;
  background-color: rgb(114, 130, 160);
  position: relative;
}

.bukkubukku,
.naiyandi,
.Paiya,
.kundukulla,
.tamilmagan,
.avaenna {
  height: 180px;
  width: 160px;
}

#icon7,
#icon8,
#icon9,
#icon10,
#icon11,
#icon12 {
  width: 40px;
  cursor: pointer;
  background-color: rgb(12, 239, 141);
  border-radius: 35px;
  position: absolute;
  bottom: 120px;
  right: 30px;
}

.music3 {
  display: flex;
  padding: 20px;
  margin-left: 12%;
  padding: 50px;
}

.line13,
.line14,
.line15,
.line16,
.line17,
.line18 {
  padding: 20px;
  border-radius: 10px 40px;
  margin-right: 15px;
  background-color: rgb(114, 130, 160);
  position: relative;
}

.minnale,
.retro,
.vidamurchi,
.rich,
.peelings,
.et {
  height: 180px;
  width: 160px;
}

#icon13,
#icon14,
#icon15,
#icon16,
#icon17,
#icon18 {
  width: 40px;
  cursor: pointer;
  background-color: rgb(12, 239, 141);
  border-radius: 35px;
  position: absolute;
  bottom: 120px;
  right: 30px;
}

.music4 {
  display: flex;
}

video {
  object-fit: initial;
  width: 400px;
  height: 600px;
  margin-left: 60%;
}

.line19,
.line20,
.line21 {
  position: relative;
}

#icon19,
#icon20,
#icon21 {
  width: 40px;
  cursor: pointer;
  background-color: rgb(12, 239, 141);
  border-radius: 35px;
  position: absolute;
  bottom: 50px;
  right: -215px;
}

.sawadeeka,
.kanimaa,
.ennapathiye {
  height: 105px;
  width: 105px;
  position: absolute;
  margin-left: 55%;
  bottom: 80%;
  border-radius: 25px;
  border: 2px black;
}

.layer1,
.layer2,
.layer3 {
  position: absolute;
  bottom: 88%;
}

.layer1 {
  position: absolute;
  bottom: 85%;
  right: -190px;
}

.layer2 {
  position: absolute;
  right: -165px;
}

.layer3 {
  position: absolute;
  right: -195px;
}

.singer1 {
  margin-right: 50px;
  text-align: justify;
}

.singer3 {
  margin-right: 80px;
}