* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgb(38, 33, 107);
  color: aliceblue;
}

.navbar {
  background-color: rgb(49, 41, 117);
  background-attachment: fixed;
  position: sticky;
  top: 0%;
  z-index: +1;
  width: 200px;
  height: 180%;
}

.logo {
  height: 200px;
  width: 200px;
}

ul {
  list-style-type: none;
  width: 12%;
  position: fixed;
  line-height: 50px;
  width: 200px;
  text-align: center;
}

li a {
  display: block;
  color: aliceblue;
  padding: 8px 8px;
  text-decoration: none;
  font-size: large;
}

li a:hover {
  background-color: lightcyan;
  color: black;
}

.vl {
  border-left: 2px solid skyblue;
  height: 100%;
  margin-left: 202px;
}

.nav {
  background-color: rgb(49, 41, 117);
  display: flex;
  margin-left: 13.5%;
  margin-top: -86.3%;
  position: sticky;
  top: 0%;
  z-index: +1;
}

.home {
  height: 60px;
  width: 60px;
  margin-left: 90%;
  margin-top: 10%;
  margin-left: 600%;
}

.sbox {
  height: 30px;
  width: 400px;
  border-radius: 25px;
  margin-top: 18px;
  margin-left: 10%;

}

.search {
  height: 50px;
  width: 40px;
  margin-left: 270%;
  margin-top: 25%;
}

.home1 {
  height: 70px;
  width: 60px;
  margin-top: 0%;
  margin-left: 750%;
}

.profile {
  height: 50px;
  width: 50px;
  margin-left: 650%;
  margin-top: 20%;
}

h1 {
  margin-left: 45%;
}

.right {
  float: left;
  margin-right: 6%;
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.playlist1,
.playlist2,
.playlist3 {
  display: flex;
  margin-left: 13%;
  padding: 20px;
}

.actor1,
.actor2,
.actor3,
.actor4,
.actor5,
.actor6,
.actor7,
.actor8,
.actor9 {
  padding: 20px;
  margin-right: 10px;
  position: relative;
}


.vijaykanth,
.rajini,
.kamal,
.madhavan,
.vikram,
.vijay,
.dhanush,
.suriya,
.ajith {
  height: 250px;
  width: 380px;
}



#icon1,
#icon2,
#icon3,
#icon4,
#icon5,
#icon6,
#icon7,
#icon8,
#icon9 {
  width: 40px;
  cursor: pointer;
  background-color: rgb(12, 239, 141);
  border-radius: 35px;
  position: absolute;
  bottom: 60px;
  right: 40px;
}